################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/bin
/**/obj
/**/wwwroot/libs
/**/wwwroot/Uploads
/**/appsettings.Production.json
/**/appsettings.Development.json
/**/Properties/**/*.user
