<footer class="footer text-light bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 col-sm-6 col-md-4 col-lg-3 overflow-hidden">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-start mb-3">
                        <a class="brand" href="/">
                            <inlinesvg src="images/ca-dei-greci-logo.svg" />
                        </a>
                    </div>
                    <div class="d-flex align-items-start mb-3"><span class="copyright">&copy; 2020 - Ca Dei Greci</span></div>
                    <div class="d-flex align-items-start mb-3">
                        <div class="mr-3"><i class="bi-award"></i></div>
                        <div><a asp-area="" asp-page="/Privacy">Privacy</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 col-sm-6 col-md-2 col-lg-2 overflow-hidden">
                <h5>Socials</h5>
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-start mb-3">
                        <i class="bi-facebook mr-3"></i>
                        <a href="https://www.facebook.com/ca-dei-greci" target="_blank">Facebook</a>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                        <i class="bi-instagram mr-3"></i>
                        <a href="https://www.instagram.com/ca-dei-greci/" target="_blank">Instagram</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 col-sm-6 col-md-6 col-lg-4 overflow-hidden">
                <h5>Contacts</h5>
                <div class="d-flex flex-column text-light">
                    <div class="d-flex align-items-start mb-3">
                        <div class="mr-3"><i class="bi bi-compass"></i></div>
                        <div>
                            <span class="text-muted">Indirizzo</span><br />
                            <span>
                                Via Costante Degan 3<br />
                                30174 Venezia VE
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                        <div class="mr-3"><i class="bi bi-telephone"></i></div>
                        <div><span class="text-muted">Telefono</span><br /> <a href="tel:+390413081465">+39 0413081465</a></div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                        <div class="mr-3"><i class="bi-clock"></i></div>
                        <div>
                            <div class="timetable">
                                <div class="text-nowrap text-muted">Orari di apertura</div>
                                <partial name="_Openings" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 col-sm-6 d-md-none d-lg-block col-lg-3 overflow-hidden">
                <h5>Navigation</h5>
                <div class="d-flex flex-column text-light">
                    <a class="mb-2 ml-2" href="/#Home">Home</a>
                    <a class="mb-2 ml-2" href="/#AboutUs">About us</a>
                    <a class="mb-2 ml-2" href="/Menu">Menu</a>
                    <a class="mb-2 ml-2" href="/#ContactUs">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</footer>