@page
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>@ViewData["Title"] - CaDeiGreciWebsite</title>
    <link rel="stylesheet" href="~/css/ca-dei-greci-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="ComingSoon">
    <div class="slide" style="background-image:url('/images/coal-4778784_1920.jpg');">
        <div class="container d-flex text-center">
            <a class="brand" asp-area="" asp-page="/Index"><inlinesvg src="images\ca-dei-greci-logo.svg" /></a>
            <h1 class="display-4">Coming soon</h1>
            <p>Learn about ca dei greci <a href="tel:04112346">+39 041 123456</a>.</p>
        </div>
    </div>
</body>
</html>