@page
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>@ViewData["Title"] - CaDeiGreciWebsite</title>
    <partial name="_FaviconsPartial" />
    <link rel="stylesheet"
          asp-fallback-href="/libs/bootstrap-icons/font/bootstrap-icons.css"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/ca-dei-greci-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="ComingSoon">
    <div class="slide">
        <div class="bgimage" style="background-image:url('/images/10pax.jpeg');"></div>
    </div>
    <div class="container d-flex justify-content-center flex-column text-center text-light">
        <a class="brand" href="#"><inlinesvg src="images\ca-dei-greci-logo.svg" /></a>
        <h1 class="display-4">Coming soon</h1>

        <div class="d-flex flex-column text-left align-self-center">
            <div class="address d-flex flex-row">
                <i class="bi bi-compass mr-3"></i>
                <div class="d-flex flex-column">
                    <span>Indirizzo</span>
                    <span>Via Costante Degan 3, 30174 Mestre (VE)</span>
                </div>
            </div>
            <div class="phone d-flex flex-row">
                <i class="bi bi-telephone mr-3"></i>
                <div class="d-flex flex-column">
                    <span>Telefono</span>
                    <span><a href="tel:+390413081465">+39 0413081465</a></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>