@page
@using CaDeiGreciWebsite.Pages
@model IndexModel
@{
    Layout = "_LayoutFrontEnd";
    ViewData["Title"] = "Home page";
}

<div id="slide-first" class="slide text-white">
    <div class="bgimage" style="background-image:url('/images/coal-4778784_1920.jpg');"></div>
    <div class="container d-flex text-center">
        <h1 class="display-3 mb-3">The most astounding</h1>
        <p class="lead">Grilling experience <a href="#dove siamo">in your town</a>.</p>
    </div>
</div>
<div class="container my-5">
    <main role="main">
        <h2 class="display-4">Welcome</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eleifend mauris. Nam mollis facilisis mauris eget sagittis. Mauris felis arcu, laoreet id velit eu, finibus cursus lacus. Mauris vitae dignissim ligula. Aenean vel nisi in ipsum eleifend fringilla vitae eget lectus. Pellentesque posuere orci a elit ullamcorper sollicitudin. Curabitur blandit, justo sit amet auctor convallis, lectus augue rutrum dui, tincidunt sollicitudin dolor ex at velit. Aenean in iaculis augue.</p>
        <p>Integer viverra nulla quis fringilla tempor. Sed tempor consectetur nulla, non fermentum arcu pretium nec. Aenean ornare velit eu nisi accumsan luctus. Sed ut sapien finibus, rhoncus nulla finibus, pharetra nunc. Cras efficitur fringilla volutpat. Proin ullamcorper sapien non lorem imperdiet dictum. Nullam leo turpis, faucibus vitae eleifend eget, blandit a quam. Vivamus scelerisque convallis neque pellentesque blandit. Mauris ut vehicula mi. Pellentesque imperdiet diam ac egestas cursus. Ut sagittis dapibus massa vitae mattis. Sed eu est elit.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc ut sem congue, accumsan orci at, mollis ex. Donec id faucibus neque, ac sodales metus. Duis ultricies finibus enim, quis scelerisque urna. Donec vestibulum, tellus nec fermentum maximus, lorem justo commodo nunc, et lacinia sapien turpis ac dolor. Cras tincidunt gravida enim, consequat tincidunt magna hendrerit sed. Integer vehicula tristique mollis.</p>
        <p>Donec ultricies suscipit mattis. Aenean mattis tortor ornare sollicitudin commodo. Curabitur eget enim dolor. Donec ac pretium risus. Vestibulum elementum neque nunc, in eleifend velit ultrices ac. Vestibulum eu tempus diam. Aliquam velit dui, consectetur id congue a, posuere nec libero. Phasellus nulla metus, lacinia ut diam non, molestie placerat augue. Mauris eleifend consectetur justo, eget efficitur risus facilisis sit amet. Sed eget fermentum diam. Etiam non velit turpis. Suspendisse commodo odio sapien, eu ullamcorper metus commodo ut. Morbi dapibus ullamcorper urna. Cras id tellus lobortis, hendrerit orci ut, sollicitudin quam.</p>
    </main>
</div>
<a name="eventi"></a>
<div class="split-row text-light mb-5">
    <div class="background left bg-dark"></div>
    <div class="background right" style="background-image:url('/images/eventi.jpg')"></div>
    <div class="content">
        <div class="container">
            <div class="row d-flex flex-column justify-content-center" style="min-height: 40vw;">
                <div class="col col-6 pr-5">
                    <h4 class="display-4">Come party with us and <a href="">K-Dee</a> every thursday</h4>
                    <p>We are proud to host k-dee and his fellow flexionals come enjoy the party!</p>
                    <p><i class="text-primary bi bi-clock-history mr-2"></i> Every thursday</p>
                    <p><i class="text-primary bi bi-map mr-2"></i> At our place, <a href="#dovesiamo">visit us</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="mb-5">
        <a name="contact-us"></a>
        <h2 class="display-4">Contact us</h2>
        <p>Fusce sed massa vitae ex ornare rutrum. Nulla nibh augue, gravida ac magna sed, consequat aliquam nisl. Curabitur consectetur sapien sed semper blandit. Maecenas ut neque at leo vulputate feugiat vehicula dignissim augue. Quisque luctus, justo quis ultrices pretium, ante eros vulputate metus, sed pulvinar felis odio convallis diam. Nullam tortor mauris, vestibulum quis vestibulum sit amet, tincidunt vitae ligula. Fusce viverra eros augue, at dignissim elit condimentum id. Integer iaculis ipsum et velit sollicitudin, non consequat mi porta. Integer fringilla mi risus, eget vestibulum diam molestie quis. Fusce feugiat justo at fermentum venenatis. Mauris convallis ornare interdum. Mauris at ante tellus.</p>
    </div>

    <a name="dovesiamo"></a>
    <h2 class="display-4">Dove siamo</h2>
    <p>Vienici a trovare!</p>
</div>
<iframe frameborder="0" style="border:0; width:100%; height:450px; margin:0 0 -6px 0;"
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d699.2370092229443!2d12.236059029243384!3d45.49099113883706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eb4392ea2f247%3A0x6745650cbad985eb!2sVia%20Costante%20Degan%2C%203%2C%2030171%20Venezia%20VE!5e0!3m2!1sit!2sit!4v1611937906973!5m2!1sit!2sit"
allowfullscreen>
</iframe>